@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EDE9FE;
}

li,a{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

@media screen and (max-width: 900px){
    .header,.navegacao{
        flex-direction: column;
    }
}

.logo{
    float: left;
    height: 80px;
}

.navegacao{
    list-style: none;
}

.navegacao,li {
    display: inline-block;
    padding: 0px 20px;
}

.navegacao,li,a {
    transition: all 0.2s ease 0s;
}

.navegacao,li,a:hover {
    color: rgb(162, 0, 255);
}

.container0{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.oquesaofakenews,h1,h2,.textooquesaofakenews,.textooqueetse{
    
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    float: left;
    display: flex;
    
}
.containerh{
    background-color: white;
}
.h1doh{
    background-color: white;
    float: left;
    position: relative;
    left: 25%;
}



.oquesaofakenews{
    display: flex;
    box-shadow: -6px 6px 6px #888;
    margin-bottom: 25px;
    width: 100vh;
    margin-top: 10;
    margin-bottom: 0;
}

.sobretse{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: -6px 6px 6px #888;
    width: 92vh;
    border-radius: 20px;
    margin-top: 10px;
}

.textooqueetse{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.filhotseh2{
    background-color: white;
}

.tsevideo{
    border-radius: 20px;
    margin-right: 10px;
}

.tseh1{
    background-color: white;
    float: left;
    position: relative;
    left: 5%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    margin-top: 2vh;
    justify-content: space-around;
}

.pardal{
    font-size: 13px;
    display: flex;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    box-shadow: -6px 6px 6px #888;
    width: 61vh;
    transition: all 0.2s ease 0s;
    order: 1;

}

.fatoouboato{
    font-size: 13px;
    display: flex;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    box-shadow: -6px 6px 6px #888;
    transition: all 0.2s ease 0s;
    width: 61vh;
    order: 2;
}

.alexandrejumper{
    font-size: 13px;
    display: flex;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    box-shadow: -6px 6px 6px #888;
    transition: all 0.2s ease 0s;
    width: 61vh;
    height: 33vh;
    order: 3;
}


.pardal::after,.pardal::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    left: 0;
    bottom: 0;
    z-index: -1;
}


.pardal:hover{
    transform: translate(12px, -12px);
}

.pardal:hover::after{
    transform: translate(6px, 6px);
}
.pardal:hover::before{
    transform: translate(12px, 12px);
}

.fatoouboato::after,.fatoouboato::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.fatoouboato:hover{
    transform: translate(12px, -12px);
}

.fatoouboato:hover::after{
    transform: translate(6px, 6px);
}
.fatoouboato:hover::before{
    transform: translate(12px, 12px);
}

.alexandrejumper::after,.alexandrejumper::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.alexandrejumper:hover{
    transform: translate(12px, -12px);
}

.alexandrejumper:hover::after{
    transform: translate(6px, 6px);
}
.alexandrejumper:hover::before{
    transform: translate(12px, 12px);
}

